@import './Base.scss';
@import './Base.scss';
#addressList {
  .el-input__inner {
    height: 32px !important;
    line-height: 32px !important;
  }
  .el-form-item {
    margin-bottom: 10px;
  }
  .distpicker-address-wrapper select {
    margin-left: 0px;
    margin-right: 10px;
  }
  .address-wrap {
    margin: 30px 20px 60px;
    .address-info {
      font-size: pxTorem(12px);
      position: relative;
      margin-bottom: 20px;
      padding: 30px 25px;
      border: 1px solid #d9d9d9;
      background-color: #f9f9f9;
    }
    .address-add {
      font-size: pxTorem(12px);
      margin-top: 30px;
      margin-bottom: 30px;
      .btn {
        cursor: pointer;
        font-family: tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1', sans-serif;
        font-size: pxTorem(14px);
        font-weight: bold;
        margin-bottom: 5px;
        padding: 10px 34px;
        border-radius: 2px;
        background: #f3f3f3;
      }
      .tip {
        display: inline-block;
        margin-left: 20px;
        color: #adadad;
        b {
          font-weight: normal;
          color: #95b202;
        }
      }
    }
  }
  .address-form {
    .area-tip {
      font-size: pxTorem(12px);
      color: #b3b3b3;
      margin-top: -10px;
    }
    .submit-btn {
        margin-left: 100px;
    }
  }
}
