@import './Base.scss';
#index {
  .carousel {
    width: 100%;
  }
  .hot-tag {
    margin: 30px auto;
    .title {
      width: 100%;
      font-size: pxTorem(16px);
      color: #000;
      border-bottom: 1px solid $color-border;
      height: 36px;
      .more {
        color: $color-dark-gray;
        float: right;
        &:hover {
          color: $color-hover;
        }
      }
    }
    .list {
      li {
        display: inline-block;
        a {
          font-size: pxTorem(12px);
          color: $color-dark-gray;
          margin-right: 5px;
          &:hover {
            color: $color-hover;
          }
        }
      }
    }
  }
  .selections {
    margin: 50px auto;
    .title {
      text-align: center;
      position: relative;
      h2 {
        color: #000;
        font-size: pxTorem(24px);
        font-weight: 500;
        margin-bottom: -10px;
      }
      h3 {
        color: $color-dark-gray;
        font-size: pxTorem(12px);
        font-weight: 500;
      }
    }
    .selections-carousel {
      width: 101.2%;
      margin: 40px auto;
      .selection-item {
        display: inline-block;
        width: 18%;
        height: 242px;
        margin-right: 2%;
        border: 1px solid $color-border;
        img {
          width: 100%;
          height: 100%;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .miaosha {
    height: 200px;
    margin: 30px auto;
    .container {
      border: 1px solid $color-border;
      span {
        display: inline-block;
      }
      .title {
        padding: 11px;
        background: #fb4a80;
        height: 88%;
        float: left;
        font-size: pxTorem(22px);
        color: #fff;
        writing-mode: vertical-lr;
        text-align: center;
      }
      .miaosha-item {
        float: right;
        width: 19%;
        border-right: 1px solid $color-border;
        margin-right: -1px;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .classify {
    .more {
      color: $color-dark-gray;
      position: absolute;
      top: 8px;
      right: 0px;
      &:hover {
        color: $color-hover;
      }
    }
    .selection-item {
      box-shadow: 2px 2px 5px #ccc;
      .img {
        display: inline-block;
        width: 100%;
        height: 80%;
      }
      .price {
        display: inline-block;
        width: 90%;
        color: #000;
        font-size: pxTorem(18px);
        padding: 10px;
      }
    }
  }
  .bar {
    height: 40px;
    line-height: 40px;
    background: rgb(251,74,128);
    margin-bottom: 40px;
    span {
      position: relative;
      display: inline-block;
      text-align: center;
      width: 25%;
      color: #fff;
      i {
        position: relative;
        top: 5px;
      }
      font {
        position: relative;
        top: -4px;
      }
    }
  }
}
